# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Flask
instance/
.webassets-cache

# Database
*.db

# Uploaded files
static/uploads/*
!static/uploads/.gitkeep

# Environment variables
.env

# VS Code
.vscode/